@model TodayDataView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIFH</title>
    <link rel="stylesheet" href="./css/App.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body class="dark:bg-slate-900">
<nav class="flex bg-gray-800 dark:bg-gray-900 w-full h-full justify-end">
  <div class="flex mx-auto">
    <a href="/Custom" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
        <!-- Example icon or text -->
        By Date
    </a>
    <a href="/" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
        <!-- Example icon or text -->
        Home
    </a>
  </div>
</nav>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">
    <div class="text-center">
      <h2 class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white">
        Today
      </h2>
    </div>

    <!-- Card -->
    <div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10 dark:bg-gray-800 dark:border-gray-700">
      <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          REF NUMBER
                      </th>
                      <th scope="col" class="px-6 py-3">
                          RN ITEM ID
                      </th>
                      <th scope="col" class="px-6 py-3">
                          CATCH TYPE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          GRADE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          TEMPERATURE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          WEIGHT
                      </th>
                      <th scope="col" class="px-6 py-3">
                          IMG
                      </th>
                  </tr>
              </thead>
              <tbody>
                @foreach (var rn in Model.receivingNotes){
                  @foreach (var item in Model.receivingNoteItems){
                    @if (item.ReceivingNoteId == rn.ReceivingNoteId){
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 text-center">
                            @rn.ReferenceNumber
                        </th>
                        <td class="px-6 py-4 text-center">
                            @item.ReceivingNoteItemId
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Product.ProductName
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.GradeClass.GradeClassName
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Temperature &deg;F
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Quantity
                        </td>
                        @if(item.Image == null){
                          <td class="px-6 py-4 text-center">
                            No
                          </td>
                        }
                        @if(item.Image != null){
                          <td class="px-6 py-4 text-center">
                            Yes
                          </td>
                        }
                      </tr>
                    }
                  }
                }
              </tbody>
          </table>
        </div>
    </div>
    <!-- End Card -->
  </div>
</div>
</body>
</html>
