@model TodayDataView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIFH</title>
    <link rel="stylesheet" href="./css/App.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body class="dark:bg-slate-900">
<nav class="flex bg-gray-800 dark:bg-gray-900 w-full h-full justify-end">
  <div class="flex mx-auto">
    <a href="/" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
      <!-- Example icon or text -->
      Home
    </a>
    <a href="/Custom" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
        <!-- Example icon or text -->
        By Date
    </a>
  </div>
</nav>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">
    <div class="text-center">
      <h2 class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white">
        Today's Receiving Note
      </h2>
    </div>

    <!-- Card -->
    <div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10 dark:bg-gray-800 dark:border-gray-700">
      <h3 class="text-lg text-gray-800 font-bold sm:text-3xl dark:text-white pb-3">
        Choose Receiving Note:
      </h3>
      @if(Model.receivingNotes != null){
        @foreach (var rn in Model.receivingNotes){
          <form action="" method="post" class="flex pb-4">
              <input type="hidden" name="receivingNoteId" value="@rn.ReceivingNoteId" />
              <button type="submit" class="w-fit py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">@rn.ReferenceNumber</button>
          </form>
        }
      }
      
        <div class="relative overflow-x-auto mb-3">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          REF NUMBER
                      </th>
                      <th scope="col" class="px-6 py-3">
                          RN ITEM ID
                      </th>
                      <th scope="col" class="px-6 py-3">
                          CATCH TYPE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          GRADE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          TEMPERATURE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          WEIGHT
                      </th>
                      <th scope="col" class="px-6 py-3">
                          IMG
                      </th>
                      <th scope="col" class="px-6 py-3">
                          EDIT
                      </th>
                  </tr>
              </thead>
              <tbody>
                @if(Model.receivingNoteItems != null){
                  @foreach (var item in Model.receivingNoteItems){
                    @if (item.ReceivingNoteId > -1){
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 text-center">
                            @item.ReceivingNoteId
                        </th>
                        <td class="px-6 py-4 text-center">
                            @item.ReceivingNoteItemId
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Product.ProductName 
                            
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.GradeClass.GradeClassName
                            
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Temperature &deg;F
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Quantity
                        </td>
                        @if(item.Image == null){
                          <td class="px-6 py-4 text-center">
                            No
                          </td>
                        }
                        @if(item.Image != null){
                          <td class="px-6 py-4 text-center">
                            Yes
                          </td>
                        }
                        <td class="px-6 py-4 text-center">
                          <form method="post" action="@Url.Action("Index", "Edit")">
                            <input type="hidden" name="receivingNoteItemId" value="@item.ReceivingNoteItemId" />
                            <button  type="submit" class="border-2 border-white py-2 px-4 rounded-lg hover:bg-white hover:text-black">Edit</button>
                          </form> 
                        </td>
                      </tr>
                    }
                  }
                }       
              </tbody>
          </table>
        </div>
    </div>
    <!-- End Card -->
  </div>
</div>
</body>
</html>
