@model TodayDataView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIFH</title>
    <link rel="stylesheet" href="./css/App.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body class="dark:bg-slate-900">
<nav class="flex bg-gray-800 dark:bg-gray-900 w-full h-full justify-end">
  <div class="flex mx-auto">
    <a href="/Today" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
        <!-- Example icon or text -->
        Today
    </a>
    <a href="/" class="text-white py-3 px-4 hover:bg-gray-700 dark:hover:bg-gray-800 flex items-center">
        <!-- Example icon or text -->
        Home
    </a>
  </div>
</nav>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">
    <div class="text-center">
      <h2 class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white">
        Search Receiving Note By Date
      </h2>
    </div>

    <!-- Card -->
    <div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10 dark:bg-gray-800 dark:border-gray-700">
      <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-4 sm:mb-8 relative">
            <label for="datePicker" class="block mb-2 text-sm font-medium dark:text-white">Date Picker</label>
            <input type="date" id="datePicker" name="datePicker" value="@DateTime.Now"
                   class="py-3 px-4 block w-full border-white border-2 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 dark:bg-white dark:border-gray-700 dark:text-slate-900 dark:focus:ring-gray-600 appearance-none"
            >
        </div>


        <div class="mb-4 sm:mb-8">
          <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Search</button>
        </div>   
      </form>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          REF NUMBER
                      </th>
                      <th scope="col" class="px-6 py-3">
                          RN ITEM ID
                      </th>
                      <th scope="col" class="px-6 py-3">
                          CATCH TYPE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          GRADE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          TEMPERATURE
                      </th>
                      <th scope="col" class="px-6 py-3">
                          WEIGHT
                      </th>
                      <th scope="col" class="px-6 py-3">
                          IMG
                      </th>
                  </tr>
              </thead>
              <tbody>
                @foreach (var rn in Model.receivingNotes){
                  @foreach (var item in Model.receivingNoteItems){
                    @if (item.ReceivingNoteId == rn.ReceivingNoteId){
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 text-center">
                            @rn.ReferenceNumber
                        </th>
                        <td class="px-6 py-4 text-center">
                            @item.ReceivingNoteItemId
                        </td>
                        <td class="px-6 py-4 text-center">
                            @* @item.Product.ProductName  *@
                            test
                        </td>
                        <td class="px-6 py-4 text-center">
                            @* @item.GradeClass.GradeClassName *@
                            test
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Temperature &deg;F
                        </td>
                        <td class="px-6 py-4 text-center">
                            @item.Quantity
                        </td>
                        @if(item.Image == null){
                          <td class="px-6 py-4 text-center">
                            No
                          </td>
                        }
                        @if(item.Image != null){
                          <td class="px-6 py-4 text-center">
                            Yes
                          </td>
                        }
                      </tr>
                    }
                  }
                }
              </tbody>
          </table>
        </div>
        <div class="mt-6 grid">
          <form method="post" action="/Home/InsertFormDataListToDatabase">
            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Save</button>
          </form>  
        </div>
    </div>
    <!-- End Card -->
  </div>
</div>
</body>
</html>
